<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login and Registration Form in HTML</title>
      <link rel="stylesheet" href="/css/login.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text" style="margin-left: 85px;">
            <img src="/images/logo1.png" alt="" style="width: 200px;">
        </div>     
         <% if (message) { %>
            <h4 class="alert alert-danger mt-5"><%= message %></h4>
        <% } %>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <label for="login" class="slide login">Seller</label>
               <label for="signup" class="slide signup">Buyer</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form action="/auth/api/register" method="POST" class="login" enctype="multipart/form-data">
                  <input type="hidden" name="userType" value="1">
                  <div class="field">
                      <input type="text" placeholder="First Name" id="fname" name="fname" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="Last Name" id="lname" name="lname" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="City" id="city" name="city" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="Contact Number" id="contact" name="contact" required>
                  </div>
                  <div class="field">
                      <input type="email" placeholder="Email Address" id="email" name="email" required>
                  </div>
                  <div class="field">
                      <input type="password" placeholder="Password" id="password" name="password" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="Store's Name" id="storeName" name="storeName" required>
                  </div>
                  <div class="store-img">
                      <label for="profileImage">Upload Store Image:</label>
                      <input type="file" id="Image" name="Image" accept="image/*">
                  </div>
                  <div class="field btn">
                      <div class="btn-layer"></div>
                      <input type="submit" value="Signup">
                  </div>
              </form>

               <form action="/auth/api/register" method="POST" class="login" enctype="multipart/form-data">
                  <input type="hidden" name="userType" value="0">
                  <div class="field">
                      <input type="text" placeholder="First Name" id="fname" name="fname" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="Last Name" id="lname" name="lname" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="City" id="city" name="city" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="Contact Number" id="contact" name="contact" required>
                  </div>
                  <div class="field">
                      <input type="email" placeholder="Email Address" id="email" name="email" required>
                  </div>
                  <div class="field">
                      <input type="password" placeholder="Password" id="password" name="password" required>
                  </div>
                  <div class="store-img">
                      <label for="profileImage">Upload Display Picture:</label>
                      <input type="file" id="Image" name="Image" accept="image/*">
                  </div>
                  <div class="field btn">
                      <div class="btn-layer"></div>
                      <input type="submit" value="Signup">
                  </div>
              </form>
              
            </div>
         </div>
      </div>
      <script>
         const loginText = document.querySelector(".title-text .login");
         const loginForm = document.querySelector("form.login");
         const loginBtn = document.querySelector("label.login");
         const signupBtn = document.querySelector("label.signup");
         const signupLink = document.querySelector("form .signup-link a");
         signupBtn.onclick = (()=>{
           loginForm.style.marginLeft = "-50%";
           loginText.style.marginLeft = "-50%";
         });
         loginBtn.onclick = (()=>{
           loginForm.style.marginLeft = "0%";
           loginText.style.marginLeft = "0%";
         });
         signupLink.onclick = (()=>{
           signupBtn.click();
           return false;
         });
      </script>
   </body>
</html>